<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">  <img src="/lang-logo.png">    </a>
      
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-java" class="alert-link">Getting Started with Java on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
        <h3>
          <!--<span class="glyphicon glyphicon-info-sign"></span>-->
          Edit company form</h3>
        <form class="form-horizontal" id="edit-form">
            <p>Company name  <input type="text" id="editCompanyName" ></p>
            <p>New name <input type="text" id="newName" ></p>
            <p>New earnings <input type="text" id="newEarnings" size="15" ></p>
            <p>New parent name<input type="text" id="newParentName" ></p>
            <p><button type="submit" class="btn btn-primary " id="edit">Edit</button></p>
        </form>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Create company form :</h3>
      <form class="form-horizontal" id="search-form">

          <p><div class="col-sm-10">
                    <label class="col-sm-2 control-label">Company name</label>
		    <input type=text class="form-control" id="companyName" size="30">
                </div>        
      </p>
      <p>      <div class="col-sm-10">
                    <label class="col-sm-2 control-label">Earnings</label>
                    <input type=text class="form-control" id="earnings" size="18">
                </div>
      </p>
      <p>	<div class="col-sm-10">
                    <label class="col-sm-2 control-label">Parent Name</label>
                    <input type=text class="form-control" id="parentName" size="30">
	        </div>
      </p>
            	<button type="submit" id="createbtn"
			class="btn btn-primary ">Create</button>
	</form>
      
      <p><h3><span class="glyphicon glyphicon-link"></span> Delete company form</h3></p>
      <p>Company name <input type="text" id="delCompanyName" ></p>
        <form class="form-horizontal" id="del-one-form">
            <button type="submit" class="btn btn-primary " id="delete">Delete</button>
        </form>
            <br>
        <form class="form-horizontal" id="del-tree-form">
            <button type="submit" class="btn btn-primary " id="delTree">Delete with childs</button>
        </form>
      </div>
  </div> 
  
  <!-- row -->
  <br>
  <p id="errorfield" style="color: red"></p>
  
  <div class="alert alert-info text-leftr" role="alert" id="output">
       OutPut here
  </div>
</div>
    <script>
        jQuery(document).ready(function($) {

		$("#search-form").submit(function(event) {
			enableButtons(false);
			event.preventDefault();
			createCompany();
		});
                
                $("#edit-form").submit(function(event) {
			enableButtons(false);
			event.preventDefault();
			editCompany();
		});
                
                $("#del-one-form").submit(function() {
                        enableButtons(false);
			event.preventDefault();
			deleteOne();                    
                });
                
                $("#del-tree-form").submit(function() {
                        enableButtons(false);
			event.preventDefault();
			deleteTree();                    
                });

	});

    function createCompany() {

		var editData = {};
		editData["companyName"] = $("#companyName").val();
		editData["earnings"] = $("#earnings").val();
                editData["parentName"] = $("#parentName").val();

		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "/create",
			data : JSON.stringify(editData),
			dataType : 'json',
			timeout : 100000,
			success : function(data) {
				console.log("SUCCESS: ", data);
				display(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
//				alert(e);
			},
			done : function(e) {
				console.log("DONE");
				enableButtons(true);
			}
		});

	}

    function editCompany() {
        var editData = {};
	editData["companyName"] = $("#editCompanyName").val();
	editData["newName"] = $("#newName").val();
        editData["earnings"] = $("#newEarnings").val();
        editData["parentName"] = $("#newParentName").val();
        
        $.ajax({
		type : "POST",
		contentType : "application/json",
		url : "/edit",
		data : JSON.stringify(editData),
		dataType : 'json',
		timeout : 100000,
		success : function(data) {
			console.log("SUCCESS: ", data);
			display(data);
		},
		error : function(e) {
		console.log("ERROR: ", e);
		},
		done : function(e) {
			console.log("DONE");
			enableButtons(true);
		}
	    });

	}
        
    function deleteOne (){
    var editData = {};
	editData["companyName"] = $("#delCompanyName").val();
	
        $.ajax({
		type : "POST",
		contentType : "application/json",
		url : "/delete",
		data : JSON.stringify(editData),
		dataType : 'json',
		timeout : 100000,
		success : function(data) {
			console.log("SUCCESS: ", data);
			display(data);
		},
		error : function(e) {
		console.log("ERROR: ", e);
		},
		done : function(e) {
			console.log("DONE");
			enableButtons(true);
		}
	    });
    }
    
    function deleteTree (){
    var editData = {};
	editData["companyName"] = $("#delCompanyName").val();
	
        $.ajax({
		type : "POST",
		contentType : "application/json",
		url : "/delete/tree",
		data : JSON.stringify(editData),
		dataType : 'json',
		timeout : 100000,
		success : function(data) {
			console.log("SUCCESS: ", data);
			display(data);
		},
		error : function(e) {
		console.log("ERROR: ", e);
		},
		done : function(e) {
			console.log("DONE");
			enableButtons(true);
		}
	    });
    }
    
    	function display(data) {
		var json = "<h4>Enabled trees</h4><pre>"
                            +data.msg
//				+ JSON.stringify(data, null, 4) 
                                + "</pre>";
                        
                var errorcode = "<h3>"+data.code+"</h3>";
		$('#output').html(json);
                $("#errorfield").html(errorcode);
	}
    
	function enableButtons(flag) {
		$("#createbtn").prop("disabled", flag);
                $("#edit").prop("disabled", flag);
                $("#delete").prop("disabled", flag);
                $("#delTree").prop("disabled", flag);
	}


    </script>
</body>
</html>
